<div class="main-panel">

    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                LIST OF BILL
            </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Danh sách</li>
                </ol>
            </nav>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-right">
                </h4>

                <div class="row">


                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-listing" class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>CUSTOMER ID </th>
                                        <th>CUSTOMER NAME </th>
                                        <th> STATUS </th>
                                        <th>DATE CHECKIN</th>
                                        <th>DATE CHECKOUT</th>
                                        <th>BOOKCOST</th>
                                        <th>EXTRACOST</th>
                                        <th>TOTAL</th>
                                        <th>DETAIL</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.map(function(item){%>
                                        <tr>
                                            <td>
                                                <%= item.BILL_ID%>
                                            </td>
                                            <td>
                                                <%= item.CUS_ID%>
                                            </td>
                                            <td>
                                                <%= item.CUS_NAME %>
                                            </td>
                                            <td>
                                                <%= item.BILL_STATUS%>
                                            </td>
                                            <td>
                                                <%=  item.strinout.split(' ')[0]%>
                                            </td>
                                            <td>
                                                <%=  item.strinout.split(' ')[1] %>
                                            </td>
                                            <td>
                                                <%= item.BILL_BOOKCOST%>
                                            </td>
                                            <td>
                                                <%= item.BILL_EXTRACOST%>
                                            </td>
                                            <td>
                                                <%= item.BILL_TOTAL%>
                                            </td>
                                            <td class="text-center text-success">
                                                <% if(item.BILL_STATUS == 3) {%>
                                                    <a href=""><i class="fa fa-check text-success" aria-hidden="true"></i></a>
                                                    <a href="/admin/bill-detail/<%= item.BILL_ID %>"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;</a>

                                                    <%}%>
                                                        <%if (item.BILL_STATUS == 1) {%>
                                                            <a href="/admin/forward-bill/<%= item.BILL_ID %>/<%= item.BILL_STATUS%>"><i class="fa fa-forward text-danger" aria-hidden="true"></i></a>
                                                            <%}%>
                                                                <%if (item.BILL_STATUS == 2) {%>
                                                                    <a href="/admin/bill-detail/<%= item.BILL_ID %>"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;</a>

                                                                    <a href="/admin/bill-service/ <%= item.BILL_ID%>"> <i class="fa fa-plus text-primary" aria-hidden="true"></i></a>
                                                                    <%}%>
                                            </td>
                                        </tr>
                                        <%})%>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>


        <br>
    </div>